@import '~styles/variables';

.root {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 0 0 5px 5px;
  text-decoration: underline;

  &:hover,
  &.active {
    background: $color-mine-shaft;
    color: $color-white;
    text-decoration: none;
    text-decoration-color: $color-dusty-gray;
  }

  &.disabled {
    opacity: 0.7;

    &:hover {
      background: transparent;
      color: inherit;
      text-decoration: underline;
      text-decoration-color: inherit;

      &.active {
        background: $color-mine-shaft;
        color: $color-white;
        text-decoration: none;
        text-decoration-color: $color-dusty-gray;
      }
    }
  }
}
